.permission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  height: 100%;
}

.permission-card {
  text-align: center;
  padding: 2rem;
}